.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        @media screen and (max-width:$point__rupture) {
            flex-direction: column;
            display: none;
            // visibility: collapse;
        }
        flex-direction: row; 
        align-items: center;
        gap: 0 40px;
        flex-wrap: wrap;

    }
    &__logo{
        width: 5vw;
        @media screen and (max-width:$point__rupture) {
            width: 10vw;
        }
    }
    &__logo img{
        width: 100%;
        object-fit: cover ;
    }
    &__burger{
        display: none;
        @media screen and (max-width:$point__rupture) {
            display: flex;
        }
    }
    &__checkbox{
        display: none;
    }
    &__checkbox:checked ~ &__nav{
        display: block;
    }
}



