.global {
   margin : 0 auto;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   min-height: 75vh;
}


.hero{
    min-height: 100vh;
    background-image: url("images/galaxie.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;

    &__titre{
        font-size: 3em;
    }

    &__bouton{
        display: block;
        padding: 2vw;
        border-radius: 2em;
        font-size: 2em;
        height: fit-content;
        align-self: center;
    }
    &__icone-app{
        align-self: center;
    }
    &__icone-app img{
        background-color: white;
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        width: 2em;
    }
}

.global>*{
    margin: 1vw;
    width: fit-content;
}
.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.formulaire form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid black;

}
form .input{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}
input{
    display: block;
    width: 10em;
}
.inscrire{
    width: fit-content;
    height: fit-content;
}
.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.galerie__fig{
    width: 18vw;
    height: 36vh;
    margin-top: 1em;
}
.galerie div img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
}


// ADAPTATIF

@media screen and (max-width:$point__rupture) {
    .galerie__fig{
        width: 36vw;
        height: 30vh;
        margin-top: 1em;
    }
    .formulaire{
        display: none;
    }
}
